* {
    box-sizing: border-box;
}

img,
svg,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}